<link rel="stylesheet" href="/stylesheets/footer.css">

<footer>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <img class="img-footer" src="/images/footer-logo.jpg" alt="">
    </div>
  </div>
  <div class="container-xxl">
    <div class="row info-footer">
      <div class="col-xl-4 col-sm-12">
        <h4 class="text-warning">Enjoy China</h4>
        <p class="text-light">Places to go</p>
        <p class="text-light">Delicious Chinese Food</p>
        <p class="text-light">Folks Customs and Festivals</p>
        
      </div>
      <div class="col-xl-4 col-sm-12">
        <h4 class="text-warning">Useful Information</h4>
        <p class="text-light">Travel Guide</p>
        <p class="text-light">Contact</p>
 
      </div>
      <div class="col-xl-4 col-sm-12">
        <h4 class="text-warning">News and Information</h4>
        <p class="text-light">Global Times</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</head>
</html>
