<link rel="stylesheet" href="/stylesheets/navbar.css" />

<nav>
  <div class="a-nav">
    <div class="img-nav"><img src="/images/dragon-logo.jpg" alt="" /></div>
    <a href="/">Imperial Voyages</a>
    <a href="/province/formRegisterProvince">Add your province</a>
    <a href="/province">See all provinces</a>
    <div class="contact"><a href="/contact">Contact</a></div>
  </div>
</nav>
